.site-wrapper {
  max-width: 1200px;
  margin: auto
}

.brand {
  display: flex;
  justify-content: space-between;
}

.host-pic {
  position: relative;
  top: 20px;
}

.main-body {
  background-color: var(--bg);
  position: absolute;
  top: 220px;
  left: 163px;
  width: 646px;
  height: 510px;
}

.main-heading-text-green, .main-heading-text {
  text-transform: uppercase;
  color: var(--green);
  font-family: 'Chivo', sans-serif;
  font-weight: 100;
  font-size: 47px;
  margin-bottom: 0;
}

.main-heading-text {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 25px;
}

.main-text p {
  font-family: 'Chivo', 'san-serif';
  font-weight: 100;
  font-size: 17px;
  color: var(--grey);
}

.email-div {
  margin-bottom: 110px;
}

.email-div label {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.email-input {
  padding: 1.1rem;
  padding-right: 14rem;
  background-color: var(--off-black);
  border: 1px solid var(--off-black);
  border-radius: 50rem;
  position: relative;
  left: 0px;
}

.email-input:focus {
  outline: none;
  color: var(--white);
  background-color: var(--off-black);
}

.submission-btn {
  position: absolute;
  right: 5px;
  background-color: var(--green);
  padding: 0.8rem 1.8rem;
  border-radius: 50rem;
  border: 1px solid var(--green);
  font-weight: 700;
  cursor: pointer;
}

.submission-btn:hover {
  background-color: #76f0c1;
}

.error-message {
  color: red;
}

.brand-list-icons {
  display: flex;
  justify-content: space-between;
}

.brand-ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.brand-ul li {margin-right: 40px;}

.dots {
  position: absolute;
  right: -550px;
  bottom: -48px;
}
